sudo: false
cache: yarn
language: node_js
env:
  global:
  - NODE_ENV='test'
  - secure: KaGBH/17o2XQNPpcgGkVc0TH3eaTdYOUcso9Bs7ywfJvX1ZgBopOZ64UeueiRdXVslBBv5h66Rq1OrGJ/BLXOHgSwWPw9qCz3Gx8o4rzQj1Bnd3xidewgLIFoyRzDxcsJSA3ThE21jV0SNOufQvcGKiUzNH+KjWPL7EbYikceCmCnQbkWPVk7JLmyYRA0Tvjz4CqmMvrFX1NplhEvK/jQ5N2fL1YByRplYAB2Y26iemigHcDnwkmlPL/CgiPqZh78oIxYAS1EF/dbI3zU764b2xxWxO8UgKr0+UrvN01MCX6phthXhAfvol44PApmxI8w+6IPHQBSqqrNYo5lm8uiTMllts1Cb4WH/PAlw8Wle2EyrkFHV8y0cJfWzqsSuYr32scXrEh2dyvJ32T9FIQqEeolQTv0yR21H8Sa99p5I4QiThvJHcH6+nlQVJVtj8tkrNsWlJgD6OmxmWttZ2V67nAm3wxECc3ugs1PdkRBx6Mw1vZ5IMhZwMFMYD1esjs2PKNgMQXxNDyMl/XRVR6pBE0iB86B74AAVrzSDqPOUxMxCPWvxPu8xnonQCquS8/KiqzwXH0E2V1U6pDVGwedZnKq2bV5cXQ8iJ4m/4AgayrM2zDuAv8JbjmoqL6Z1+2ipwvf2BJuEJ2ThBuDinxJkemQonzmlbh80Nk8alOiFM=
  - secure: AJy7A88wzvuv5ASlGQQP1onQ/LgqUwKkwRbKwgajbx8QgGZmhSPCwj1xY4zdOplse4QQhCj5Ax0oMJkh+GjLVckMwF1/l5KPOCtJXZUVdfYex6S8M8QkeUByMOTRiLm611tIobZN2SRg7t/buuQhHno7fpI0kq5tNp3NNVIgZ+pi7fS/avqeJeoMqgoA19K3SdTNvM4x8TeiQiRYhpkTTYASY47Ka/TNID1pcwgEhpuCJ5+S4M5Z1U+SWe9yE/w2MhjBGlR+CK54xCiGVfM8PP2ucm85FSOgTOlX2+BJeOiprXklWo8be4rjjdvJG5WL6tHye0PoWjKNwDt4c7VzBDBo/Da6OfbDfMKbnnPDnwX4kimKGQewFQXFERTJhfh3KnbEKNfP4ZRFEKQymxrkG2QJCH7/S8QSDoC5FYq9decRt1+4VR/LVNOEx9+7qWVxjeNjg8guGFCXB/a5pQKOhqWg/1+39QdVcaT9IEnyAUp57ycYTnsjp1Q6vwvGc5XZByFEpIMHZHT5Xz2N2sQurQe7G+doXxEf1FNh86JzWRz1qlIYMVq5PCD6YhIczn1qIIu75mq5TzAHaenI47cNZOgLAdvZV4MC+dQlrR3Eeznh5dtKvAhFGpV/C+LJniZuASTMgiN0Jr2ExNm4OyhGX97Db2pP8yASrhPRDpz4ZP8=
branches:
  only:
  - master
  - all-services-developed
before_install:
  - cd ./$SERVICE
  - nvm install
  - nvm use
  - node --version
before_script:
  - SERVICE=$SERVICE make ensure-dependencies
  - sleep 10
script:
  - make qa
  - TRAVIS_BUILD_ID=$TRAVIS_BUILD_ID TRAVIS_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER make brand
  - DOCKER_USERNAME=$DOCKER_USERNAME DOCKER_PASSWORD=$DOCKER_PASSWORD make build
  - DOCKER_USERNAME=$DOCKER_USERNAME DOCKER_PASSWORD=$DOCKER_PASSWORD SERVICE=$SERVICE TRAVIS_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER make build
matrix:
  include:
  - env: SERVICE=recipes-api
    services:
    - docker
  - env: SERVICE=recipes-crawler
    services:
    - docker
  - env: SERVICE=recipes-id-generator
    services:
    - docker
